# файлы IntelliJ IDEA
.idea/

# секреты
secrets/

# временные файлы
temp*
*.drawio.bkp
~*

# логи
logs/

# миграции БД
migrations/

# БД
db.sqlite3

# компилируемые файлы
__pycache__/

# python-окружение
venv/

# данные бота
.state-save/

# задание
TASK.md
